body{ 
    background-image: url(imagens/binarynumbers.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;   
    text-align: center;

}

#pagina{
    background-color: white;
    margin:100px;
    height:100%;
    padding: 20px;
    font-size: 35px;
    text-align: center; color:black;

}

.btn{
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    padding: 8px 55px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        black);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        to(rgb(95, 91, 91)));
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #000000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 5px rgba(255,084,084,0.6);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 5px rgba(255,084,084,0.6);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 5px rgba(255,084,084,0.6);
    text-shadow:
        0px -1px 3px rgba(255,255,255,0.8),
        0px 1px 0px rgba(255,255,255,0.3);
}

.msgCifrada{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.textoInicial{
    margin: 20px;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; 
    color: black;
}

#text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;  
    border-color: black;
}



#desloc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-color: black;
}

#textCifra, #textDescifra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px; 
    color: black;
}